html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  text-align: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.btn {
  background-color: #333;
  padding: .4em .75em .3em;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  font-size: 1.125rem;
  margin: 5px;
}

.btn:hover {
  background-color: #000;
}

.btn-subtle {
  background-color: #ccc;
  padding: .4em .75em .3em;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  font-size: 1.125rem;
  margin: 5px;
}

.btn-subtle:hover {
  background-color: #333;
}

.btn-ghost {
  padding: .4em .75em .3em;
  color: #333;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  font-size: 1.125rem;
  margin: 5px;
  border-style: solid;
}

.btn-ghost:hover {
  background-color: #333;
  color: #fff;
}

.btn-warning {
  background-color: #f33;
  padding: .4em .75em .3em;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  font-size: 1.125rem;
  margin: 5px;
}

.btn-warning:hover {
  background-color: #933;
}

.btn-small {
  background-color: #333;
  padding: .4em .75em .3em;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  font-size: .875rem;
  margin: 5px;
}

.btn-small:hover {
  background-color: #000;
}

.btn-small1 {
  background-color: #ccc;
  padding: .4em .75em .3em;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  font-size: .875rem;
  margin: 5px;
}

.btn:hover {
  background-color: #333;
}

.btn-small2 {
  padding: .4em .75em .3em;
  color: #333;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  font-size: .875rem;
  margin: 5px;
  border-style: solid;
}

.btn:hover {
  background-color: #333;
  color: #fff;
}

.btn-small3 {
  background-color: #f33;
  padding: .4em .75em .3em;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  font-size: .875rem;
  margin: 5px;
}

.btn-small3:hover {
  background-color: #933;
}

.btn-big {
  background-color: #333;
  padding: .4em .75em .3em;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  margin: 5px;
}

.btn-big:hover {
  background-color: #000;
}

.btn-big1 {
  background-color: #ccc;
  padding: .4em .75em .3em;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  margin: 5px;
}

.btn-big1:hover {
  background-color:
}

.btn-big2 {
  padding: .4em .75em .3em;
  color: #333;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  margin: 5px;
  border-style: solid;
}

.btn-big2:hover {
  background-color: #333;
  color: #fff;
}

.btn-big3 {
  background-color: #f33;
  padding: .4em .75em .3em;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  margin: 5px;
}

.btn-big3:hover {
  background-color: #933;
}
