html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  text-align: center;
  padding: .5rem;
  border-width: 3px;
  border-radius: 8px;
  color: #fff;
}

.btn {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: .4em .75em .3em;
  border-width: 3px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.125rem;
}

.btn:hover {
  background-color: #000;
}

.btn-subtle {
  display: inline-block;
  background-color: #ccc;
  color: #fff;
  padding: .4em .75em .3em;
  border-width: 3px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.125rem;
}

.btn-subtle:hover {
  background-color: #666;
}

.btn-ghost {
  display: inline-block;
  color: #000;
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-style: solid;
  border-color: #000;
  border-width: 3px;
  text-decoration: none;
  font-size: 1.125rem;
  border-color: #000;
}

.btn-ghost:hover {
  background-color: #ccc;
}

.btn-warning {
  display: inline-block;
  background-color: #f33;
  color: #fff;
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-width: 3px;
  text-decoration: none;
  font-size: 1.125rem;
}

.btn-warning:hover {
  background-color: #933;
}

.btn-small {
  background-color: #333;
  color: #fff;
  padding: .4em .75em .3em;
  border-width: 3px;
  border-radius: 8px;
  text-decoration: none;
  font-size: .875rem;
}

.btn-small:hover {
  background-color: #000;
}

.btn-small1 {
  display: inline-block;
  background-color: #ccc;
  color: #fff;
  padding: .4em .75em .3em;
  border-width: 3px;
  border-radius: 8px;
  text-decoration: none;
  font-size: .875rem;
}

.btn-small1:hover {
  background-color: #666;
}

.btn-small2 {
  display: inline-block;
  color: #000;
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-color: #000;
  border-style: solid;
  border-color: #000;
  border-width: 3px;
  text-decoration: none;
  font-size: .875rem;
  border-color: #000;
}

.btn-small2:hover {
  background-color: #ccc;
}

.btn-small3 {
  display: inline-block;
  background-color: #f33;
  color: #fff;
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-width: 3px;
  text-decoration: none;
  font-size: .875rem;
}

.btn-small3:hover {
  background-color: #933;
}

.btn-big {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: .4em .75em .3em;
  border-width: 3px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.5rem;
}

.btn-big:hover {
  background-color: #000;
}

.btn-big1 {
  display: inline-block;
  background-color: #ccc;
  color: #fff;
  padding: .4em .75em .3em;
  border-width: 3px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.5rem;
}

.btn-big1:hover {
  background-color: #666;
}

.btn-big2 {
  display: inline-block;
  color: #000;
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-style: solid;
  border-color: #000;
  border-width: 3px;
  text-decoration: none;
  font-size: 1.5rem;
  border-color: #000;
}

.btn-big2:hover {
  background-color: #ccc;
}

.btn-big3 {
  display: inline-block;
  background-color: #f33;
  color: #fff;
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-width: 3px;
  text-decoration: none;
  font-size: 1.5rem;
}

.btn-big3:hover {
  background-color: #933;
}
